<div class="row">
  <div class="col-md-4">
    <h1>Logged In? {{ authStatusCtrl.isLoggedIn }}</h1>
    <hr><br>
    
   <form ng-submit="authStatusCtrl.onLogoff()" novalidate>
   <button type="submit" class="btn btn-default">se deconnecter</button>
   </form>
   <form ng-submit="authStatusCtrl.onEvent()" novalidate>
   <button type="submit" class="btn btn-default">chopper les websocket</button>
   </form>
  
  </div>
<!--  <button class="btn btn-default" autocomplete="off" id="start">Start</button>    -->
  </div>

      
<div class="container" id="sipcall">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-6 container" id="login">
							<div class="input-group margin-bottom-sm">
								<span class="input-group-addon"><i class="fa fa-cloud-upload fa-fw"></i></span>
								<input class="form-control" type="text" placeholder="SIP Registrar (e.g., sip:host:port)" autocomplete="off" id="server" onkeypress="return checkEnter(this, event);"></input>
							</div>
							<div class="input-group margin-bottom-sm">
								<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
								<input class="form-control" type="text" placeholder="SIP Identity (e.g., sip:goofy@example.com)" autocomplete="off" id="username" onkeypress="return checkEnter(this, event);"></input>
							</div>
							<div class="input-group margin-bottom-sm">
								<span class="input-group-addon"><i class="fa fa-user-plus fa-fw"></i></span>
								<input class="form-control" type="text" placeholder="Username (e.g., goofy, overrides the one in the SIP identity if provided)" autocomplete="off" id="authuser" onkeypress="return checkEnter(this, event);"></input>
							</div>
							<div class="input-group margin-bottom-sm">
								<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
								<input class="form-control" type="password" placeholder="Secret (e.g., mysupersecretpassword)" autocomplete="off" id="password" onkeypress="return checkEnter(this, event);"></input>
							</div>
							<div class="input-group margin-bottom-sm">
								<span class="input-group-addon"><i class="fa fa-quote-right fa-fw"></i></span>
								<input class="form-control" type="text" placeholder="Display name (e.g., Alice Smith)" autocomplete="off" id="displayname" onkeypress="return checkEnter(this, event);"></input>
							</div>
							<div class="btn-group btn-group-sm" style="width: 100%">
								<button class="btn btn-primary" autocomplete="off" id="register" style="width: 30%">Register</button>
								<div class="btn-group btn-group-sm" style="width: 70%">
									<button autocomplete="off" id="registerset" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 100%">
										Registration approach<span class="caret"></span>
									</button>
									<ul id="registerlist" class="dropdown-menu" role="menu">
										<li><a href='#' id='secret'>Register using plain secret</a></li>
										<li><a href='#' id='guest'>Register as a guest (no secret)</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6 container hide" id="phone">
							<div class="input-group margin-bottom-sm">
								<span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
								<input class="form-control" type="text" placeholder="SIP URI to call (e.g., sip:1000@example.com)" autocomplete="off" id="peer" onkeypress="return checkEnter(this, event);"></input>
							</div>
							<button class="btn btn-success margin-bottom-sm" autocomplete="off" id="call">Call</button> <input autocomplete="off" id="dovideo" type="checkbox">Use Video</input>
						</div>
					</div>
				<div/>
				<div id="videos" class="hide">
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">You</h3>
							</div>
							<div class="panel-body" id="videoleft"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Remote UA</h3>
							</div>
							<div class="panel-body" id="videoright"></div>
						</div>
					</div>
				</div>
			</div>